body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 20px;
}

h1 {
  text-align: center;
  color: #333;
}

ul{
  list-style: none;
  padding-left: 1px;
}

#listaUsuarios{
  display:flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: center;
  flex-wrap: wrap;
  
}

#usuarioLi{
  width: 400px;
  display:flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: center;
  flex-wrap: wrap;
  border: solid black 0.5px;
  margin-top: 10px;
}

#nombreUsuario{
  border: solid black 0.5px;
  margin-left: 0px;
  padding-left: 0px;
}

